:root {
  --color-white: #ffffff;
  --color-red: #ff0349;
  --color-dark-blue: #05213e;
  --color-blue: #0e355d;
  --color-light-blue: #1a4377;

  --text-color-light-blue: #85bada;
  --text-color-blue: #0a2745;

  --gradient-card: linear-gradient(
    132deg,
    rgba(5, 33, 62, .4) 43%,
    rgba(255, 0, 71, .4) 100%
  );

  --gradient-card-catalog: linear-gradient(
    132deg,
    rgba(5, 33, 62, .85) 43%,
    rgba(255, 0, 71, .85) 100%
  );

  --gradient-bg-1: linear-gradient(
    70deg,
    rgba(5, 33, 62, 1) 30%,
    rgba(5, 33, 62, 0.5) 100%
  );
  --gradient-bg-2: linear-gradient(
    42deg,
    rgba(255, 3, 73, 1) 0%,
    rgba(5, 33, 62, 1) 55%
  );
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

li {
  list-style: none;
}

i{ font-size: 24px; }

body {
  font-family: "Lato";
  background-color: var(--color-dark-blue);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: .3s;
}

.scrolled {
  background: var(--color-light-blue);
}

.scrolled .main-header {
  padding: 5px 0 0;
}

.header__mobile {
  display: none;
}

.header__button-menu {
  display: none;
}

.header__mobile-close {
  color: var(--color-white);
}

.header__nav_item_mobile {
  margin-bottom: 10px;
}

.header__nav_item_mobile li{
  margin-bottom: 12px;
}

.box-container {
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
}

.main-header {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: .5s;
}

.main-header__logo {
  margin-right: 15px;
}

.main-header__logo p {
  font-size: 13px;
  position: relative;
  left: 100px;
  top: -10px;
}

.nav {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  max-width: 910px;
  width: 100%;
  margin: 0px 5px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav ul li {}

.nav ul li a {
  position: relative
}

.nav ul li a::before {
  position: absolute;
  content: "";
  bottom: -9px;
  width: 0%;
  height: 2px;
  /* background: #ff0349; */
  transition: 0.5s;
}

.nav ul li:hover a::before {
  bottom: -9px;
  width: 100%;
  height: 2px;
  background: #ff0349;
  transition: 0.3s;
}

.main-header__phones {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 10px;
}

.main-header__phones a {
  position: relative;
  width: max-content;
  margin-bottom: 12px;
}
.main-header__phones a:last-child {
  margin-bottom: 0px;
}

.main-header__phones a::before {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 0%;
  height: 2px;
  /* background: #ff0349; */
  transition: 0.5s;
}

.main-header__phones a:hover::before {
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: var(--color-red);
  transition: 0.3s;
}

.custom-btn {
  max-width: 150px;
  width: 100%;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 17.5px;
  background: var(--color-red);
  border: 1px solid var(--color-red);
  transition: 0.3s;
}

.custom-btn:hover {
  transition: 0.5s;
  border: 1px solid var(--color-red);
  background: var(--color-dark-blue);
}

/* ========== main-block ========== */

.main-block {
  color: var(--color-white);
  height: 795px;
  background: url('../img/bg/fon_1.jpg') no-repeat center top / cover;
}

.main-block__body {
  padding-top: 245px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-block__text {
  max-width: 720px;
  width: 100%;
}

.main-block__text h1 {
  font-size: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-block__text h1 span {
  color: var(--color-red);
}

.main-block__text h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 47px;
}

.main-block__text p {
  font-size: 18px;
  margin-bottom: 95px;
}

.catalog-btn {
  border-radius: 30.5px;
  background: var(--color-red);
  padding: 15px 25px;

  border: 2px solid var(--color-red);

  display: flex;
  align-items: baseline;
  width: max-content;

  transition: .4s;
}
.catalog-btn:hover {
  background: var(--color-dark-blue);
}
.catalog-btn .catalog-btn__circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #e40442;
  margin-left: 16px;
}

.catalog-btn__circle i {
  font-size: 13px;
}


.main-block__box {
  max-width: 285px;
  width: 100%;
  height: 99px;
  background: var(--gradient-card);

  padding: 25px 46px;

  margin-bottom: 25px;
}

.main-block__box:last-child {
  margin-bottom: 0px;
}

.box__title {
  position: relative;
  font-size: 18px;
  margin-left: 15px;

  margin-bottom: 25px;
}

.box__title::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--color-red);
  top: 7px;
  left: -15px;
}

.box__desc {
  font-size: 14px;
}


/* ========== main-catalog ========== */

.main-catalog {
  position: relative;
  background: var(--color-white);
  padding: 56px 0px;
}
.red-img {
  max-width: 680px !important;
  width: auto !important;
  height: 416px !important;
  bottom: 0;
  right: 0;
}
.main-catalog__body {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 360px 300px;
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 30px;
}
.main-catalog__item {
  position: relative;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-catalog__item img {
  position: absolute;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.main-catalog__item_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-card-catalog);
}

.main-catalog__text {
  position: relative;
  padding: 48px 40px;
  height: -webkit-fill-available;
}
.text__title {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 40px;
}
.text__desc {
  font-size: 16px;
  line-height: 25px;
}

.main-catalog__item_size .main-catalog__text{
  padding: 0px 40px 0px 0px;
}
.main-catalog__item_size .text__title {
  font-size: 45px;
}