:root {
  --color-white: #ffffff;
  --color-red: #ff0349;
  --color-dark-blue: #05213e;
  --color-blue: #0e355d;
  --color-light-blue: #1a4377;

  --text-color-light-blue: #85bada;
  --text-color-blue: #0a2745;

  --gradient-card: linear-gradient(
    132deg,
    rgba(5, 33, 62, 0.4) 43%,
    rgba(255, 0, 71, 0.4) 100%
  );

  --gradient-card-catalog: linear-gradient(
    132deg,
    rgba(5, 33, 62, .9) 43%,
    rgba(255, 0, 71, .9) 100%
  );

  --gradient-tab-product: linear-gradient(
    0deg,
    rgba(72, 54, 110, 1) 0%,
    rgba(19, 69, 121, 1) 100%
  );

  --gradient-bg-forma: linear-gradient(
    340deg,
    rgba(72, 54, 110, .7) 0%,
    rgba(23, 53, 93, .7) 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  font-size: 24px;
}

body {
  font-family: "Lato";
  background-color: var(--color-dark-blue);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.scrolled {
  background: var(--color-light-blue);
}

.scrolled .main-header {
  padding: 5px 0 0;
}

.header__mobile {
  display: none;
}

.header__button-menu {
  display: none;
}

.header__mobile-close {
  color: var(--color-white);
}

.header__nav_item_mobile {
  margin-bottom: 10px;
}

.header__nav_item_mobile li {
  margin-bottom: 12px;
}

footer {
  padding-top: 28px;
  background: var(--color-dark-blue);
}
footer li a {
  transition: all .3s;
}
footer li a:hover:not(.footer__social-links li a) {
  opacity: .5;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}
.footer__logo {}

.footer__logo p {
  position: relative;
  left: 100px;
  top: -10px;
  width: max-content;
  color: rgba(255, 255, 255, .7);
}
.footer__item p{
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 16px;

  margin-bottom: 20px;
}
.footer__item li{
  color: var(--color-white);
  margin-bottom: 20px;
}
.footer__item {
  position: relative;
  left: -70px;
}
.footer__uppercase {
  margin-top: 30px;
  text-transform: uppercase;
}
.footer__uppercase li {
  margin-bottom: 30px;
}
.footer-contacts li{
  line-height: 25px;
}
.hr_color {
  border: 1px solid #043053;
  /* background: ; */
}

.footer__bottom {
  padding: 24px 0;
}

.footer__bottom ul {
  color: var(--color-white);
  display: flex;
}
.footer__bottom ul li {
  margin-right: 123px;
  display: flex;
}
.footer__bottom ul li:last-child {
  margin-right: 0px;
}
.footer__social-links {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
.footer__social-links ul {
  display: flex;
}
.footer__social-links li{
  width: 35px;
  height: 35px;
  background: #374d65;
  border-radius: 50%;

  margin-right: 16px;
}
.footer__social-links li a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-links li a img{
  width: 18px;
  height: 18px;
  object-fit: contain;

  transition: all .2s;
}
.footer__social-links li:hover a img {
  transform: scale(1.1);
}

.box-container {
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
}

.main-header {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: 0.5s;
}

.main-header__logo {
  margin-right: 15px;
}

.main-header__logo p {
  font-size: 16px;
  position: relative;
  left: 100px;
  top: -10px;
  color: rgba(255, 255, 255, .7);
}

.nav {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  max-width: 910px;
  width: 100%;
  margin: 0px 5px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
}

.nav ul li a {
  position: relative;
}

.nav ul li a::before {
  position: absolute;
  content: "";
  bottom: -9px;
  width: 0%;
  height: 2px;
  /* background: #ff0349; */
  transition: 0.5s;
}

.nav ul li:hover a::before {
  bottom: -9px;
  width: 100%;
  height: 2px;
  background: #ff0349;
  transition: 0.3s;
}

.main-header__phones {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 10px;
}

.main-header__phones a {
  position: relative;
  width: max-content;
  margin-bottom: 12px;
}
.main-header__phones a:last-child {
  margin-bottom: 0px;
}

.main-header__phones a::before {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 0%;
  height: 2px;
  /* background: #ff0349; */
  transition: 0.5s;
}

.main-header__phones a:hover::before {
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: var(--color-red);
  transition: 0.3s;
}

.custom-btn {
  max-width: 150px;
  width: 100%;
  height: 35px;

  color: var(--color-white);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 17.5px;
  background: var(--color-red);
  border: 1px solid var(--color-red);
  transition: 0.3s;
}

.custom-btn:hover {
  transition: 0.5s;
  border: 1px solid var(--color-red);
  background: var(--color-dark-blue);
}

/* ========== main-block ========== */

.main-block {
  color: var(--color-white);
  height: 692px;
  /* height: 100vh; */
  background: url("../img/bg/fon_1.jpg") no-repeat center top / cover;
  background-attachment: fixed;
  padding-bottom: 108px;
  display: flex;
  align-items: flex-end;
}

.main-block__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-block__text {
  max-width: 720px;
  width: 100%;
}

.main-block__text h1 {
  font-size: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-block__text h1 span {
  color: var(--color-red);
}

.main-block__text h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 47px;
  line-height: 70px;
}

.main-block__text p {
  font-size: 18px;
  margin-bottom: 95px;
}

.catalog-btn {
  border-radius: 30.5px;
  background: var(--color-red);
  padding: 15px 25px;

  border: 2px solid var(--color-red);

  display: flex;
  align-items: baseline;
  width: max-content;

  transition: 0.4s;
}
.catalog-btn:hover {
  background: var(--color-dark-blue);
}
.catalog-btn .catalog-btn__circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #e40442;
  margin-left: 16px;
}

.catalog-btn__circle i {
  font-size: 13px;
}

.main-block__box {
  max-width: 285px;
  width: 100%;
  height: 99px;
  background: var(--gradient-card);

  padding: 25px 46px;

  margin-bottom: 25px;
}

.main-block__box:last-child {
  margin-bottom: 0px;
}

.main-block__box:hover .box__title {
  margin-left: 25px;
}
.main-block__box:hover .box__title::before {
  left: -25px;
  width: 5px;
  height: 5px;
  top: 9px;
}

.box__title {
  position: relative;
  font-size: 18px;
  margin-left: 15px;

  margin-bottom: 25px;
  transition: all 0.5s;
}

.box__title::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--color-red);
  top: 7px;
  left: -15px;
  transition: all 0.5s;
}

.box__desc {
  font-size: 14px;
}

/* ========== main-catalog ========== */

.main-catalog {
  position: relative;
  background: var(--color-white);
  padding: 56px 0px;
}
.main-catalog .custom-btn {
  margin: 43px auto 0;

  max-width: 298px;
  height: 61px;
  border-radius: 30.5px;
}
.red-img {
  max-width: 680px !important;
  width: auto !important;
  height: 416px !important;
  bottom: 0;
  right: 0;
}
.main-catalog__body {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 360px 300px;
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 30px;
}
.main-catalog__item {
  position: relative;
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;


}
.main-catalog__item:not(.main-catalog__item_size) {
  overflow: hidden;
}

 .main-catalog__item img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: all 0.8s;
}

.main-catalog__item_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-card-catalog);
  mix-blend-mode: multiply;
}


.main-catalog__text {
  position: relative;
  padding: 48px 40px;
  height: -webkit-fill-available;
}
.text__title {
  position: relative;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 40px;
  transition: 0.6s;
}

.main-catalog__item:hover .text__title {
  transform: scale(1.1);
  padding: 0 0px 0 30px;
  /* margin-bottom: 35px; */
}
.main-catalog__item:hover .text__desc {
  padding: 0 0px 0 5px;
  transform: scale(1.03);
}

.main-catalog__item:hover img:not(.red-img) {
  transform: scale(1.1);
}

.text__desc {
  font-size: 16px;
  line-height: 25px;
  transition: all 0.3s;
}

.main-catalog__item_size .main-catalog__text {
  padding: 0px 10px 0px 0px;
}
.main-catalog__item_size .text__title {
  font-size: 45px;
}

/* ========== popular-product-groups ========== */

.popular-product-groups {
  padding: 57px 0;
  background: #f0f5f8;
}

.popular-product-groups__title {
  font-size: 45px;
  font-weight: 900;
  color: var(--color-dark-blue);
}

.popular-product-groups__body {
  display: flex;

  margin-top: 50px;
}

.tabs {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.tabs li {
  border: none;
  background: var(--color-blue);
  margin-bottom: 1px;
}

.tabs li a {
  position: relative;
  width: 293px;
  /* width: 100%; */
  height: 82px;

  display: flex;
  align-items: center;

  font-size: 18px;
  text-transform: uppercase;

  font-size: 16px;
  color: var(--color-white);
  padding-left: 44px;
  transition: all 0.4s;
}

.tabs li a::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid transparent;
  left: 20px;
  border-radius: 50%;
  transition: all 0.5s;
}

.tabs li:hover:not(.active) a {
  transform: scale(1.05);
}

.tabs li:hover:not(.active) a::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--color-red);
  left: 20px;
  transition: all 0.4s;
}

.tabs li.active,
.tabs li.active a:hover {
  background: var(--gradient-tab-product);
}
.tabs li.active a::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 20px;
  background: var(--color-red);
}

.tab_content {
  margin-left: 34px;
  width: 100%;
}

/* slick */

.popular-product__wrap {
  max-width: 243px;
  width: 100%;
  height: 373px;
  padding: 15px 25px 25px;
  background: var(--color-white);

  margin: 0px auto;
}

.popular-product__wrap img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.popular-product__part-number {
  display: flex;
  font-size: 14px;
  color: var(--text-color-light-blue);

  margin-bottom: 20px;
}
.popular-product__name p {
  font-size: 17px;
  font-weight: bold;
  color: var(--text-color-blue);

  margin-bottom: 20px;
}
.popular-product__price {
  display: flex;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.popular-product__wrap .custom-btn {
  display: flex;
  max-width: 116px;
  height: 40px;
}

.slick-track {
  display: flex;
  align-items: center;
}

/* .slick__item {
  text-align:;
} */

.tab_content .slick-list {
  overflow-x: hidden;
}

.tab_content .slick-slide {
  margin: 0 10px;
}

.tab_content {
  min-width: 0;
  position: relative;
}

.tab_content .slick-arrow {
  position: absolute;
  top: -75px;
  z-index: 10;
  font-size: 0;
  border: 0;
  width: 36px;
  height: 36px;
  background: var(--color-white);

  margin: -15px 0 0 0;
  cursor: pointer;
  transition: all 0.3s;
}

.tab_content .slick-arrow.slick-prev {
  right: 76px;
  background: url("../img/icon/prev-btn.svg") 0 0 / 100% no-repeat;
}

.tab_content .slick-arrow.slick-next {
  right: 10px;
  background: url("../img/icon/next-btn.svg") 0 0 / 100% no-repeat;
}

.slick-prev:hover,
.slick-next:hover {
  transform: scale(1.1);
}

.tab_content .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_content .slick-dots li {
  margin: 0px 10px;
}
.tab_content .slick-dots button {
  font-size: 0;
  width: 9px;
  height: 9px;
  border: 1px solid var(--color-red);
  border-radius: 50%;
}
.tab_content .slick-dots .slick-active button {
  background: var(--color-red);
}

/* ========== did-not-find ========== */
.did-not-find {
  background: url("../img/bg/fon_2.jpg") no-repeat center top / cover;
  height: 723px;
  display: flex;
  background-attachment: fixed;
}
.did-not-find__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.did-not-find__text {
  max-width: 530px;
  width: 100%;
  color: var(--color-white);
  padding-left: 18%;
}
.did-not-find__text p {
  font-size: 22px;
  font-weight: 600;
}
.did-not-find__title h2 {
  font-size: 58px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 30px;
}

.did-not-find__title h2 span {
  color: var(--color-red);
}

.forma {
  max-width: 317px;
  width: 100%;
  height: 427px;

  padding: 50px 31px 50px 48px;

  background: var(--gradient-bg-forma);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.forma__title {
  color: var(--color-white);
  font-size: 30px;
  font-weight: 900;

  margin-bottom: 15px;
}
.forma__subtitle {
  color: var(--color-white);
  font-size: 16px;

  margin-bottom: 36px;
}

input[type="text"],
input[type="tel"] {
  max-width: 279px;
  width: 100%;
  height: 55px;

  border-radius: 6px;
  border: 0;

  padding-left: 18px;

  font-size: 14px;
  font-weight: 400;
  color: var(--color-blue);
  margin-bottom: 19px;
}

input::placeholder {
  color: var(--color-blue);
}

.forma .custom-btn {
  max-width: 298px;
  width: 100%;
  height: 61px;

  font-size: 16px;

  border-radius: 30.5px;
  margin-top: 27px;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-top: 24px;
  cursor: pointer;
  font-size: 13px;
  color: var(--color-white);
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid var(--color-white);
  background-color: inherit;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--color-red);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forma_modal {
  display: none;
}

/* ========== how-to-order ========== */

.how-to-order {
  background: url('../img/bg/fon_3.jpg') no-repeat center top / cover;
  height: 633px;
  padding: 80px 0;
  position: relative;
  /* background-attachment: fixed; */
}
.how-to-order__body {
  display: flex;
  justify-content: space-between;
}
.how-to-order__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-side__title h2{
  font-size: 58px;
  color: var(--color-white);
}
.left-side__title span {
  color: var(--color-red);
}
.left-side__bottom {
  position: absolute;
  bottom: 80px;
  max-width: 469px;
  width: 100%;

  color:  var(--color-white);
}
.left-side__bottom p {
  font-size: 16px;
  margin-bottom: 39px;
}
.left-side__bottom .bottom__imput {
  position: relative;
  display: flex;
}
.left-side__bottom .bottom__imput .custom-btn {
  position: absolute;
  max-width: 239px;
  height: 61px;
  border-radius: 30.5px;

  font-size: 16px;
  right: 0;
  top: -3px;
}
.how-to-order__timeline {
  color: var(--color-white);
  position: relative;
  padding-top: 140px;
  counter-reset: section;
}

.timeline__img {
  position: absolute;
  left: -520px;
  top: 135px;
}

.how-to-order__timeline li {
  position: relative;
  max-width: 270px;
  width: 100%;
}
.how-to-order__timeline li:hover::before{
  transform: scale(1.1) !important;
}
.how-to-order__timeline:hover li:before{
  transform: scale(.7);
}

.how-to-order__timeline li::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-red);

  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;


  counter-increment: section;                 /* Инкрементирует счётчик*/
  content:counter(section);

  transition: all .3s;
}
.how-to-order__timeline li:nth-child(odd) {
  left: -700px;
} 
.how-to-order__timeline li:nth-child(2n) {
  left: 0px;
} 
.how-to-order__timeline li:nth-child(3) {
  left: -815px;
  top: 115px;
} 
.how-to-order__timeline li:nth-child(4) {
  left: -140px;
  top: 130px;
} 

.how-to-order__timeline li:nth-child(odd)::before {
  right: -80px;
} 
.how-to-order__timeline li:nth-child(2n)::before {
  left: -80px;
} 
.timeline__title {
  font-size: 18px;
  color: var(--color-red);
  font-weight: bold;
}
.timeline__desc {
  font-size: 14px;
  font-weight: 600;
}

.logo-sheer {
  margin-left: 10px;
}

.toUp {
  position: fixed;
  bottom: 30px;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-red);

  width: 50px;
  height: 50px;

  color: var(--color-white);
  cursor: pointer;
  z-index: 100;
}
