@media all and (min-width: 1921px) {
  .red-img {
    max-width: initial !important;
    width: 100vw !important;
  }
  .did-not-find__text {
    padding-left: 7%;
  }
}

@media all and (max-width: 1600px) {
  .box-container {
    max-width: 1440px;
  }
  .red-img {
    max-width: 680px !important;
    width: auto !important;
  }
  .did-not-find__text {
    padding-left: 15%;
  }
  .how-to-order__timeline {
    padding-top: 155px;
  }
  .timeline__img {
    left: -335px;
    max-width: 300px;
    height: 300px;
    top: 170px;
  }
  .how-to-order__timeline li:nth-child(odd) {
    left: -585px;
    background: var(--color-dark-blue);
    padding: 10px;
  }
  .how-to-order__timeline li:nth-child(2n) {
    top: -50px;
  }
  .how-to-order__timeline li:nth-child(3) {
    left: -660px !important;
    top: -20px;
  }
  .how-to-order__timeline li:nth-child(4) {
    left: -75px;
    top: -57px;
  }
}
@media all and (max-width: 1440px) {
  .box-container {
    max-width: 1366px;
  }
  .did-not-find__text {
    padding-left: 12%;
  }
  .main-catalog__item_size .text__title {
    font-size: 35px;
  }
}

@media all and (max-width: 1366px) {
  .box-container {
    max-width: 100%;
    width: auto;
    padding: 0 10px;
  }
  .did-not-find .box-container {
    width: 100%;
  }
}

@media all and (max-width: 1320px) {}

@media all and (max-width: 1279px) {
  .main-header__phones {
    display: none;
  }
  .nav {
    margin: 0px 15px;
  }
  .footer__item {
    position: relative;
    left: 0px;
  }

}

@media all and (max-width: 1200px) {
  .main-block__body {
    flex-direction: column;
  }

  .main-block__item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .main-block__box {
    max-width: 24%;
    height: max-content;
  }
  .main-block {
    padding-top: 170px;
    padding-bottom: 0;
    height: max-content;
  }
  .did-not-find__text {
    padding-left: 6%;
  }
  .main-catalog__item_size .text__title {
    font-size: 30px;
  }
}

@media all and (max-width: 1100px) {
  header .custom-btn {
    display: none;
  }
  .did-not-find__text {
    padding-left: 0;
  }
  .footer__top {
    flex-wrap: wrap;
    max-width: max-content;
    width: auto;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__item {
    margin-bottom: 20px;
    margin-right: 30px;
  }
  .footer__bottom ul {
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom ul li {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .footer__bottom ul li:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

@media all and (max-width: 1024px) {
  /* .box-container {
    max-width: 100%;
    padding: 0 20px;
  } */
  .main-header__phones {
    display: flex;
  }
  .nav {
    display: none;
  }

  .header__button-menu {
    display: block;
  }

  .header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var( --color-blue);
    overflow: auto;
    padding: 70px 30px 40px;
  }

  .header__mobile-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
  }

  .header__nav_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header__nav_item_mobile {
    text-align: center;
  }

  .main-catalog__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 360px minmax(300px, auto);
  }
  .main-faq__body {
    flex-direction: column;
  }
  .accordion__wrap:last-child {
    margin-bottom: 30px;
  }

  .accordion__head {
    font-size: 25px;
  }

  .item__questions-banner {
    max-width: 100%;
    width: auto;
    height: max-content;

    margin-left: 0px;
    padding: 20px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 980px) {
  .did-not-find {
    height: max-content;
    padding: 30px 0;
  }
  .did-not-find__body {
    flex-direction: column;
  }
  .did-not-find__text {
    margin-bottom: 20px;
  }

  .how-to-order__timeline {
    padding-top: 125px;
  }
  .timeline__img {
    display: none;
  }
  .how-to-order__timeline li {
    position:inherit;
    background: var(--color-dark-blue);
    padding: 10px;
  }
  .how-to-order__timeline li:nth-child(odd)::before {
    left: -80px;
  } 
}

@media all and (max-width: 850px) {
  .how-to-order__body {
      flex-direction: column;
      align-items: center;
  }
  .left-side__bottom {
    position: relative;
    bottom: 0;
  }
  .how-to-order__timeline {
    padding-top: 25px;
  }
  .how-to-order {
    height: max-content;
    padding: 20px 0;
  }
  .how-to-order__timeline li {
    max-width: 100%;
    width: auto;
    margin-left: 60px;
  }
  .how-to-order__timeline li::before {
    left: 0px !important;
}
}

@media all and (max-width: 768px) {
  .main-block__item {
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    margin-top: 30px;
  }

  .main-block__box {
    max-width: 100%;
    width: auto;
    height: max-content;
  }
  .main-block__box:last-child {
    margin-bottom: 25px;
  }

  .popular-product-groups__body {
    flex-direction: column;
  }

  .tab_content {
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
  }
  .tabs {
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .tabs li {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .tabs li a {
    width: max-content;
    padding-right: 20px;
  }
  .tab_content .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    border: 0;
    width: 36px;
    height: 36px;
    background: var(--color-white);
  
    margin: -15px 0 0 0;
    cursor: pointer;
    transition: all .3s;
  }
  
  .tab_content .slick-arrow.slick-prev {
    left: 0px;
    background: url('../img/icon/prev-btn.svg') 0 0 / 100% no-repeat;
  }
  
  .tab_content .slick-arrow.slick-next {
    right: 0px;
    background: url('../img/icon/next-btn.svg') 0 0 / 100% no-repeat;
  }
  .main-block__text p {
    margin-bottom: 50px;
  }
  .main-block,
  .did-not-find {
    background-attachment: inherit;
  }
}

@media all and (max-width: 640px) {
  .main-block__text h1 {
    font-size: 37px;
  }
  
  .main-block__text h2 {
    font-size: 22px;
  }
  .text__title {
    font-size: 20px;
  }
  .popular-product__wrap {
    max-width: 100%;
    width: auto;
  }
  .popular-product-groups__title {
    font-size: 35px;
  }
  .did-not-find__title h2 {
    font-size: 38px;
  }
  .did-not-find__text p {
    font-size: 18px;
  }
  .main-catalog__item_size .text__title {
    font-size: 20px;
  }
  .left-side__title h2{
    font-size: 38px;
  }
  .toUp {
    bottom: 10px;
    right: 10px;
  }
  .accordion__head {
    font-size: 16px;
  }
  .accordion__body {
    padding: 15px;
  }
  .questions-banner__desc {
    margin-bottom: 10px;
  }
  .item__questions-banner img {
    max-width: 50%;
  }
  .item__questions-banner .custom-btn {
    margin-top: 0px;
  }

  .title {
    font-size: 25px;
  }
  .catalog-slider {
    margin: 50px 0px;
  }
}

@media all and (max-width: 550px) {
  .main-catalog__body {
    grid-template-columns: repeat(1, 1fr);
  }
  .left-side__bottom .bottom__imput {
    flex-direction: column;
    align-items: center;
  }
  .left-side__bottom .bottom__imput .custom-btn {
    position: relative;
    /* max-width: 100%; */
  }
  .left-side__bottom {
    position: relative;
    bottom: 0px;
  }
}

@media all and (max-width: 540px) {
  .main-header .main-header__phones {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .did-not-find__title h2 {
    font-size: 33px;
  }
  .forma {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  input[type="text"], input[type="tel"] {
    max-width: 100%;
    width: 90%;
    height: 55px;
    border-radius: 6px;
    border: 0;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-blue);
    margin-bottom: 19px;
  }
  .main-block__text h2 {
    line-height: 30px;
  }
  .main-block {
    padding-top: 150px;
  }
}

@media all and (max-width: 440px) {}

@media all and (max-width: 400px) {}

@media all and (max-width: 380px) {
  .main-header__logo {
    max-width: 200px;
  }
  .main-header__logo img {
    max-width: 100%;
  }
  .main-header__logo p {
    font-size: 12px;
    left: 75px;
  }
}