@media all and (min-width: 1921px) {
  .red-img {
    max-width: initial !important;
    width: 100vw !important;
  }
  .did-not-find__text {
    padding-left: 7%;
  }
}

@media all and (max-width: 1600px) {
  .box-container {
    max-width: 1440px;
  }
  .red-img {
    max-width: 680px !important;
    width: auto !important;
  }
  .did-not-find__text {
    padding-left: 15%;
  }
}
@media all and (max-width: 1440px) {
  .box-container {
    max-width: 1366px;
  }
  .did-not-find__text {
    padding-left: 12%;
  }
}

@media all and (max-width: 1366px) {
  .box-container {
    max-width: 100%;
    width: auto;
    padding: 0 10px;
  }
}

@media all and (max-width: 1320px) {}

@media all and (max-width: 1279px) {
  .main-header__phones {
    display: none;
  }
  .nav {
    margin: 0px 15px;
  }

}

@media all and (max-width: 1200px) {
  .main-block__body {
    flex-direction: column;
  }

  .main-block__item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .main-block__box {
    max-width: 24%;
    height: max-content;
  }
  .main-block {
    height: max-content;
  }
  .did-not-find__text {
    padding-left: 6%;
  }
}

@media all and (max-width: 1100px) {
  header .custom-btn {
    display: none;
  }
  .did-not-find__text {
    padding-left: 0;
  }
}

@media all and (max-width: 1024px) {
  /* .box-container {
    max-width: 100%;
    padding: 0 20px;
  } */
  .main-header__phones {
    display: flex;
  }
  .nav {
    display: none;
  }

  .header__button-menu {
    display: block;
  }

  .header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var( --color-blue);
    overflow: auto;
    padding: 70px 30px 40px;
  }

  .header__mobile-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
  }

  .header__nav_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header__nav_item_mobile {
    text-align: center;
  }

  .main-catalog__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 360px minmax(300px, auto);
  }
}

@media all and (max-width: 980px) {
  .did-not-find {
    background: url(../img/bg/fon_2.jpg) no-repeat center top / cover;
    height: max-content;
    padding: 30px 0;
}
  .did-not-find__body {
    flex-direction: column;
  }
  .did-not-find__text {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 850px) {}

@media all and (max-width: 768px) {
  .main-block__body {
    padding-top: 170px;
  }
  .main-block__item {
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    margin-top: 30px;
  }

  .main-block__box {
    max-width: 100%;
    width: auto;
    height: max-content;
  }

  .popular-product-groups__body {
    flex-direction: column;
  }

  .tab_content {
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
  }
  .tabs {
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .tabs li {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .tabs li a {
    width: max-content;
    padding-right: 20px;
  }
  .tab_content .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    border: 0;
    width: 36px;
    height: 36px;
    background: var(--color-white);
  
    margin: -15px 0 0 0;
    cursor: pointer;
    transition: all .3s;
  }
  
  .tab_content .slick-arrow.slick-prev {
    left: 0px;
    background: url('../img/icon/prev-btn.svg') 0 0 / 100% no-repeat;
  }
  
  .tab_content .slick-arrow.slick-next {
    right: 0px;
    background: url('../img/icon/next-btn.svg') 0 0 / 100% no-repeat;
  }
}

@media all and (max-width: 640px) {
  .main-block__text h1 {
    font-size: 38px;
  }
  
  .main-block__text h2 {
    font-size: 22px;
  }
  .main-block__body {
    padding-top: 150px;
  }
  .text__title {
    font-size: 20px;
  }
  .popular-product__wrap {
    max-width: 100%;
    width: auto;
  }
  .popular-product-groups__title {
    font-size: 35px;
  }
  .did-not-find__title h2 {
    font-size: 38px;
  }
  .did-not-find__text p {
    font-size: 18px;
  }
}

@media all and (max-width: 550px) {
  .main-catalog__body {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (max-width: 540px) {
  .main-header .main-header__phones {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .did-not-find__title h2 {
    font-size: 33px;
  }
  .forma {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  input[type="text"], input[type="tel"] {
    max-width: 100%;
    width: 90%;
    height: 55px;
    border-radius: 6px;
    border: 0;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-blue);
    margin-bottom: 19px;
  }
}

@media all and (max-width: 440px) {}

@media all and (max-width: 400px) {}

@media all and (max-width: 380px) {
  .main-header__logo {
    max-width: 200px;
  }
  .main-header__logo img {
    max-width: 100%;
  }
  .main-header__logo p {
    font-size: 12px;
    left: 75px;
  }
}